<script type="text/javascript">
$(document).ready(function(){
  new Chronograph('chronograph', {
    size: 420
  });
});
</script>

<div class="chronograph" id="chronograph"></div>

<!--
<div id="pagewrap">
  <%= hidden_field_tag 'uptoken', @uptoken %>
  <div id="loader"></div>
</div>
-->