<div id="loader">
  <%= hidden_field_tag 'uptoken', @uptoken %>
  <div class="chronograph" id="chronograph">
    <div class="text">
      <div class="percent"></div>
      <h2 class="slogan">Click here!</h2>
      <p class="intro">You can upload and share your files.</p>
      <div class="size"></div>
      <div class="copy">@FFTS.IO <br>Fast File Transfer Station</div>
    </div>
  </div>
</div>