<%= link_to @download_url, :class => "counter", :id => "downloader", :download => @download_url, :data => {:start => @doc.created_at.to_i, :deadline => @doc.deadline, :fsize => @fsize, :host => doc_root_url(@doc)} do %>
  <div id="qrcode"></div>
  <div class="text">
    <p>You can share and download this file</p>
    <span>This file is about to expire</span>
  </div>
  <div class="timer">
    <p><span class="days">0</span> days <span class="hrs">0</span> hours <span class="mins">0</span> minutes and <span class="secs">0</span> seconds</p>
  </div>
<% end %>