<div id="pagewrap">
  <div id="loader"></div>
</div>

 <script>
  $(function() {
    var $loader = $("#loader").percentageLoader({
      width: 256,
      height: 256,
      controllable : false,
      progress : 0,
      onProgressUpdate : function(val) {
        $loader.setValue(Math.round(val * 100.0));
      }
    });

    // Custom example logic
    var uploader = new plupload.Uploader({
      runtimes : 'html5', //,flash,silverlight,html4
      browse_button : 'loader', // you can pass in id...
      // drop_element: 'body',
      multi_selection: false,
      // container: document.getElementById('container'), // ... or DOM Element itself
      url : "http://upload.qiniu.com/",

      filters : {
        // max_file_size : '10mb'
      },
      multipart_params: {
        token: '<%= @uptoken -%>'
      }
    });

    uploader.bind("PostInit", function() {

    });

    uploader.bind("FilesAdded", function(up, files) {
      $loader.setValue(plupload.formatSize(files.slice(-1)[0].size));
      up.start();
    });

    // Fires when a file is successfully uploaded.
    uploader.bind("FileUploaded", function(up, file, response) {
      console.log("bind FileUploaded", response);
    });

    uploader.bind("UploadProgress", function(up, file) {
      $loader.setProgress(file.percent / 100);
    });

    uploader.bind("Error", function(up, err) {
      alert("Error #" + err.code + ":\n" + err.message);
    });

    uploader.init();

  });
</script>