
<div id="pagewrap">

  <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>

  <pre id="console"></pre>

  <div id="loader"></div>

</div>

 <script>
  $(function() {
    var $loader = $("#loader").percentageLoader({
      width: 256,
      height: 256,
      controllable : false,
      progress : 0,
      onProgressUpdate : function(val) {
        $loader.setValue(Math.round(val * 100.0));
      }
    });

    var loaderRunning = false;
    $("#animateButton").click(function() {
      if (loaderRunning) {
        return;
      }
      loaderRunning = true;
      $loader.setProgress(0);
      $loader.setValue('0kb');
      var kb = 0;
      var totalKb = 999;

      var animateFunc = function() {
        kb += 17;
        $loader.setProgress(kb / totalKb);
        $loader.setValue(kb.toString() + 'kb');

        if (kb < totalKb) {
          setTimeout(animateFunc, 25);
        } else {
          loaderRunning = false;
        }
      }

      setTimeout(animateFunc, 25);

    });


    // Custom example logic

    var uploader = new plupload.Uploader({
      runtimes : 'html5', //,flash,silverlight,html4
      browse_button : 'loader', // you can pass in id...
      // drop_element: 'body',
      multi_selection: false,
      // container: document.getElementById('container'), // ... or DOM Element itself
      url : "http://upload.qiniu.com/",

      filters : {
        // max_file_size : '10mb'
      },
      // // Flash settings
      // flash_swf_url : '<%= asset_path "Moxie.swf" %>',
      // // Silverlight settings
      // silverlight_xap_url : '<%= asset_path "Moxie.xap" %>',

      multipart_params: {
        token: '<%= @uptoken -%>'
      },

      init: {
      }
    });

    uploader.bind("PostInit", function() {
      document.getElementById('filelist').innerHTML = '';
    });

    uploader.bind("FilesAdded", function(up, files) {
      $loader.setValue(plupload.formatSize(files.slice(-1)[0].size));
      up.start();
    });

    // Fires when a file is successfully uploaded.
    uploader.bind("FileUploaded", function(up, file, response) {
      console.log("bind FileUploaded", response);
    });

    uploader.bind("UploadProgress", function(up, file) {
      $loader.setProgress(file.percent / 100);
    });

    uploader.bind("Error", function(up, err) {
      document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
    });

    uploader.init();

  });
</script>