// @import "bootstrap-sprockets";
// @import "bootstrap";

@import "bootstrap/normalize";
@import "rocket";

html, body{
  height: 100%;
}

body {
  overflow: hidden;
  // background: #485b6e;
  background: #bdd5cd;
}

#pageWrap {
  width: 100%;
  overflow: hidden;
}

#upload-wrap{
  margin: 0 auto;
  text-align: center;
}

#counter{
  position: fixed;
  top: 0;
  right: 0;
  color: #34495e;
  font-size: 96px;
}

.road{
  width: 96px;
  height: 290px;
  background: url(asset_path('road.png'));
  position: fixed;
  bottom: 0;
  left: 50%;
}